# Common environment variables
TZ=
UID=
GID=
# Homepage general variables
HP_UI_ADDRESS=
HP_PORTAINER_ACCESS_TOKEN=
HP_GRAFANA_USER=
HP_GRAFANA_PASS=
HP_VOL_CONF=
HP_VOL_IMAGE=
# Uptime Kuma general variables
UPTIME_UI_ADDRESS=
UPTIME_VOL_DATA=
# Network configuraion variables
NET_PUBLIC=
HP_PUBLIC_IPV4=
UPTIME_PUBLIC_IPV4=
